@model Nop.Plugin.Widgets.HomePageNewProductsPlugin.Models.PublicInfoModel
@{
    Layout = "";
}

<div>
    <div>
        <div>Displaying new items simple:</div>
        @foreach (var item in Model.Products)
        {
            @if (!string.IsNullOrEmpty(item.Name))
            {
                <div>@item.Name</div>
            }
            else
            {
                <div>"No item name"</div>
            }
            @if (item.ProductPictures.FirstOrDefault() != null)
            {
                string imageBase64 = Convert.ToBase64String(item.ProductPictures.First().Picture.PictureBinary.BinaryData);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <div>@item.ProductPictures.FirstOrDefault().Picture.VirtualPath</div>
                <div>
                    <img src="@imageSrc" width="100" height="100" />
                </div>
            }
        }
        @{<div>Displaying new items with partial product box:</div>}
        @foreach (var item in Model.ProductModels)
        {
            <div class="item-box">
                @await Html.PartialAsync("_ProductBox", item)
            </div>
        }
    </div>
</div>